
body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
        color: gray;
        background-color: rgb(10, 10, 10);
}

/* Center the title (h1) */
h1 {
        text-align: center;
        margin: 20px 0;
}

#context {
        height: 100%;
        width: auto;
}

#context-container {
        height: 40vw;
        width: auto;
}

#info-container {
        padding-left: 10%;
        justify-content: center;
}
